@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject NavigationManager NavigationManager

<PageTitle>Event synchroniser</PageTitle>

@if(_userMessageDictionary.Count.Equals(0))
{
	<p>There is no connected client</p>
}

@foreach (var user in _userMessageDictionary)
{
	<div style="border-style:solid">
		
		<label>User Id</label>
		<label>@user.Key</label>
		<div id="receivedMessage">
			<p>Received message</p>
			<input value="@user.Value" readonly="readonly" />
		</div>

		<div id="messageToSend">
			<p>Type to send message automaticly</p>

			<input @oninput="(EventArgs) => {SendDirectMessage(user.Key, EventArgs.Value.ToString());}" />
		</div>

	</div>
}